.Team{
    position: relative;
    background-color: #1b1818;
    width: 100%;
    height: 85vh; 
    padding-top: 6em;   

}
.Team h1{
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    font-family: var(--Oswald);
    letter-spacing: 1px;
    word-spacing: 3px;
}
.TeamSvg{
    position: relative;
    
}
.svg{
    position: absolute;
    top: -35%;
}
.TeamSvgBottom{
    background-color: #1b1818 !important;
    z-index: -1;
    position: absolute;
}
.carousel{
    width: 100%;
}
.carousel img{
    border-radius: 40px;
    width: 20% !important;

}


/* Team Card */
.team img{
    background: var(--yellow) !important;
    border-radius: 100%;
    margin: 0 auto;
}
.team h2{
    color: #fff;
    font-family: var(--Oswald);
    font-size: 50px;
    margin-bottom: 1em;
}