@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
  font-size: 82.5%;
}
:root {
    --black: #000;
    --white: #ffffff;
    --yellow:#dbd527;
    --Oswald: 'Oswald', sans-serif;
  }

@import "./Components/Home/Home.css"; /* Using a string */
@import "./Components/Navbar/Navbar.css"; /* Using a string */
@import "./Components/About/About.css"; /* Using a string */
@import "./Components/Navbar/SideNavbar.css"; /* Using a string */
@import "./Components/StateFacts/Facts.css"; /* Using a string */
@import "./Components/Team/Team.css"; /* Using a string */
@import "./Components/Portfolio/Portfolio.css"; /* Using a string */
@import "./Components/Contact/Contact.css"; /* Using a string */

@import "./Components/Footer/Footer.css"; /* Using a string */


@media(max-width: 991px){
  html{
    font-size: 70%;
  }
  .fa-bars{
    display: block !important;
    right: 5%;
    font-size: 38px;
    top: 26%;
    color: #000;
  }

  .About__text h1{
    font-size: 44px;
  }
  .svg{
    top: -21%;
}
.About{
  height: 85vh !important;   
  /* text-align: center;  */
}
/* team images */
.team img{
  width: 70%;
}
.Footer{  
  margin-top: 66em;
}
}
@media(max-width: 769px){
  html{
    font-size: 67%;
  }
  h1{
    font-size: 33px !important;
  }
  h2{
    font-size: 40px !important;
  }
  p{
    font-size: 17px !important;
    text-align: center !important;
  }
  button{
    font-size: 16px;
  }
  strong{
    font-size: 14px;
  }
  .social_icons ul li a{
    margin: 0;
  }
  .navbar{
    height: 8vh;
  }
  .navbar-brand{
    padding: 0;
    height: 8vh;
  }
  .fa-bars{
    color: #000 !important;
    z-index: 1;
  }
  .SideNavbar h1{
    height: 80vh !important;
    width: 70%;
    margin-left: auto;
    background: linear-gradient(90deg ,#222,rgba(0,0,0,0.9)),#222 !important;

}
  /* Side Nav Animations */
  @keyframes abc {
    0%{
        transform: scale(0);
        /* transform: rotate(0deg); */
        width: 0%;
    }
    100%{
      /* transform: rotate(-360deg); */
        transform: scale(1.1);
        width: 70%;
    }
}
/* SideNav Animation End */
  .sideNav_inner_ul{
    display: block !important;
  }
  .sideNav_inner_ul li{
    text-align: center;
    padding-top: 1em !important;
    font-size: 18px;

}
  .left_side{
    text-align: center;
  }
  .About__text h1{
    padding-top: 2em;
  }
  .svg{
    background-color: transparent !important;
    display: none;
}
.Home{
  text-align: center;
}
.About{
  text-align: center;
  height: 100% !important;
}
.About__Icons i{
  padding: 0;
  font-size: 200px;
  text-align: center !important;
}

.fa-bars{
  display: none !important;
}
.fa-whatsapp {
  text-align: right !important;
}
.Fact_inner h1 ,p{
  text-align: center !important;
}
.Facts{
  position: relative;
  height: 100vh;
  width: 100%;
  margin-top: 16em;
}
.Team{
  display: block !important;
  width: 100%;
  height: auto;
}
/* team images */
.team img{
  width: 50%;
}
/*  */
.Portfolio h1{
  text-align: center;
}
.Portfolio_IMG{
  margin: 0 a;
}
.Portfolio_IMG img{
  margin: 0 auto !important;
  width: 100%;
  height: 50vh;
}
.fa-bars{
  display: block !important;
  right: 5%;
  top: 19%;
  font-size: 30px;
  background:transparent !important;
  /* position: relative; */
}
.Para_footer{
  font-size: 14px !important;
}
.Footer ul li{
  margin: 0;
}
.Footer{
  position: relative;
  height: 10vh;
  margin-top: 12em;
  margin-bottom: 5em;
}

/* COntact */
.Contact{
  height: auto;
}
.contact_inner_left_Side input{
  margin-bottom: .6em;
  width: 130% !important;
  margin-left: em;
  
}
.form a{
  font-size: 17px;
  border-radius: 40px;
  margin-top: 1em;
}
}

